- name: Install Argo CD on K3s
  hosts: VM1
  become: true

  tasks:
    - name: Create argocd namespace
      command: kubectl create namespace argocd
      register: ns_result
      failed_when: false
      changed_when: "'created' in ns_result.stdout"

    - name: Install Argo CD manifests
      command: >
        kubectl apply -n argocd
        -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

    - name: Patch Argo CD server to NodePort
      command: >
        kubectl patch svc argocd-server -n argocd
        -p '{"spec": {"type": "NodePort"}}'
