---
- name: Install K3s Single Node
  hosts: VM1
  become: true
  vars:
    k3s_version: v1.29.3+k3s1

  tasks:
    - name: Install required packages
      apt:
        name:
          - curl
          - ca-certificates
        state: present
        update_cache: yes

    - name: Install K3s
      shell: |
        curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION={{ k3s_version }} sh -
      args:
        creates: /usr/local/bin/k3s

    - name: Enable and start k3s service
      systemd:
        name: k3s
        enabled: true
        state: started

    - name: Create .kube directory for user
      file:
        path: /home/{{ ansible_user }}/.kube
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: 0700

    - name: Copy kubeconfig for user
      copy:
        src: /etc/rancher/k3s/k3s.yaml
        dest: /home/{{ ansible_user }}/.kube/config
        remote_src: yes
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: 0600
